@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Permanent+Marker&display=swap');

#logo_link {
    padding-top: 5px;
}

header {
    background-color: #8ECAE6;
    margin: 0px auto;
}


nav a {
    text-align: center;
    color: #fcfbfc;
    text-decoration: none;
    padding: 3px 5px;
}

nav a:hover {
    background-color: #FFB703;
    color: #205c4b;
}

/* div {
    max-width: 1600px;
    margin: 40px auto;
} */

#content{
    margin: 0 auto;
}

.home-title {
    font-family: "Gravitas One", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-box {
    margin: 0;
}

#hero-msg h1, #hero-msg h2 {
    text-align: center;
}

#hero-img {
    display: block;
    margin: 0px auto;
}

.button-box {
    text-align: center;
}

#background {
    height: 525px;
    background-color: #d9c2a3;
    margin-bottom: 50px;
}

main section {
    text-align: center;
}

body {
    background-color: #219EBC;
    font-family: "Permanent Marker", Lato, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 25px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.book, .join {
    background-color: #FFB703;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img {
    border: 10px solid #d9c2a3
}

main section img {
    box-sizing: border-box;
}

.book:hover, .join:hover {
    background-color: #8ECAE6;
    text-decoration: none;
}

.msg {
    background-color: wheat;
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    padding-bottom: 15px;
}

footer {
    background-color: #8ECAE6;
    padding: 10px 25px;
    margin-top: 200px;

}

footer a {
    background-color: wheat;
    color: #205c4b;
    width: 50px;
}

footer .social img {
    padding-top: 15px;
}