/* Header & footer */
header {
    background-color: #FDF9F1;
    padding: 20px;
}

footer {
    background-color: #89837d;
    padding: 20px;
    text-align: center;
}

/* Home page */


/* About page */


/* Item page */

