@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


/* Header & footer */
nav {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

nav a {
    align-self: center;
    text-align: center;
    font-size: 1.2em;
    color: #FDF9F1;
    text-decoration: none;
    padding: 25px;
}

.logo {
    height: 100px;
    width: 100px;
    margin-right: auto;
}

#logo_link {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#headergrid {
    background-color: #89837d;
    padding: 10px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 100px 1fr;
}

footer {
    background-color: #7d6752;
    padding: 20px;
    text-align: center;
}


/* Overall styles */
img {
    height: 100%;
    /* width: 100px; */
}

body {
    margin: 0;
    padding: 0;
    background-color: #FDF9F1;
}

body h1 {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    font-size: 3em;
    color: #2F1F0F;
}

body h2 {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    color: #2F1F0F;
}

body p {
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1.6;
    color: #2F1F0F;
}


/* Home page */


/* About page */


/* Item page */
#item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}