/* Add your CSS here to style your valentines day page */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.header {
  background-color: #cf6767;
  padding: 30px;
  text-align: center;
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #cf6767;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #d47dde;
  color: white;
}

.content {
  padding: 16px;
}

body {
    background-color: #ffcbcb;
}

h1 {
    text-align: center;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
}

img {
    width: 100%;
    margin: 5% 0;
    margin-top: 0%;
    grid-column: auto;
}

h2, p {
    grid-template-rows: 2/5;
}

footer {
    background-color: #cf6767;
    padding: 10px 25px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
