/* * {
    border: solid red;
} */

body{
    margin: 5;
    font-size: 24px;
    background-color: aqua;
}

header, footer {
    background-color: aqua;
}

nav {
    text-align: center;
}

a {
    padding: 20px;
    border: 1px solid black;
    color: green;
}

a:hover {
    color: white;
    text-decoration: dashed;
}

#content {
    max-width: 900px;
    background-color: white;
    margin: 40px auto;
    padding: 40px;
    border: 3px solid black;
}

img {
    width: 75%;
    display: block;
    margin: 0 auto;

}

/* h2, p {
    margin-left: 40px;
    margin-right: 40px;
} */

#title {
    text-align: center;
    font-size: 3em;
}

div.b {
  text-align: center;
}

.showdow {
    background-color: gray;
}

p {
    background-color: white;
}
