/* * {
    border: solid red;
} */


/* header, footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #FFD400;
}
*/

.logo {
    width: 100%;
    height: 100%;
}

#logo_link {
    margin: 0px;
}

header {
    background-color: #ffd400;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    align-content: center;
    text-align: center;
    color: #fcfbfc;
    text-decoration: none;
    padding: 3px 5px;
}

nav a:hover {
    background-color: #8abc40;
    color: white;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10 1fr);
    gap: 5px;

}

.mountain-biking-card, .wife_n_i-card, .skiing-card {
    width: 100%;
    margin: 100px 0;
}

.mountain-biking-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.wife_n_i-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.skiing-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

h2 {
    text-align: center;
}

.msg {
    background-color: #8abc40;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.welding {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 2/7;
    grid-row: 5/8;
}

#background {
    width: 100%;
    height: 100%;
    background-color: #f2e318;
    margin-bottom: 0px;
    grid-column: 1/11;
    grid-row: 4/9;
}

footer {
    background-color: #ffd400;
    padding: 10px 25px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    background-color: #8abc40;
    color: white;
    width: 50px;
}

body{
    margin: 5;
    font-size: 24px;
    background-color: #749E35;
}


nav {
    text-align: center;
}

a {
    padding: 20px;
    border: 1px solid black;
    color: green;
}

a:hover {
    color: white;
    text-decoration: dashed;
}

#content {
    max-width: 900px;
    background-color: white;
    margin: 40px auto;
    padding: 40px;
    border: 3px solid black;
}

img {
    width:100%;
    height: 100%;
    display: block;
    margin: 0 auto;

}

/* h2, p {
    margin-left: 40px;
    margin-right: 40px;
} */

#title {
    text-align: center;
    font-size: 3em;
}

div.b {
  text-align: center;
}

.showdow {
    background-color: gray;
}

p {
    background-color: white;
}
